.announcement {
    /* background-color: rgb(194, 180, 55, 0.8); */
    background-color: #fed426;
    color: #666;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.announce {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 380px) {
    .announce {
        font-size: 12px;
    }
}