.inputcontainer{width: 100%;display: flex; position: relative;}
.inputcontainer input{
    flex: 1;
    min-width: 100%;
    padding: 10px 10px;
    margin: 20px 10px 0px 0px;
    border: none;
}
.eye{
 position: absolute;
 right: 7%;
 top:52%;
 font-size: 16px!important;
 cursor: pointer;
 color: grey;
}

@media screen and (max-width:480px) {
    .eye{
       
        right: 10%;
        top:50%;
        color:grey;
       }
}