.payment {
    width: 100%;
  }
  .payment__container{
    width: 100%;
    height: auto;
    background: url("../regbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.billing__formWrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 89, 207);
    padding: 20px;
    
}
.billing__label{
  display: flex;
  align-items: center;
  margin-right:10px;
 
}
.billing__options{width: 100%; display: flex;align-items: center;}
/* .billing__options{display: flex; align-items: center; width: 100%;} */
/* .label{display: flex;
  align-items: center; background-color: red; width: 250px;} */
.biiling__address{
  width:90%;
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 89, 207);
  padding: 20px;
}
.pay__container{
  margin-top: 10px;
  width: 100%;
  background-color: rgb(219, 183, 183);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pay__title{padding:5px 10px; border: none; outline: none; margin-bottom: 25px; cursor: pointer; margin: 5px 0px; width: 200px; background-color: orange;}
.pay__title:hover{background-color:ghostwhite;}
.pay__image{width: 40%; height: 100px;}
.pay__image img{width: 100%; object-fit: cover;}
.billing__title{font-size: 16px; font-weight: 500;}
.billing__formWrapper form{display: flex; flex-wrap: wrap;}
.pickup p{font-weight: 600;}
.payment__instruction{
  width: 100%; display: flex; align-items: flex-start; justify-content: space-between; max-width: 700px; margin:0px auto;
}
.acct__det{font-weight: 600; font-size: 14px;}
.payment__details{width: 40%; display: flex; flex-direction: column;margin-top: 30px;}
.payment_instruct{width: 40%; display: flex; flex-direction: column; margin-top: 30px;}
.pay__h{font-size: 14px!important;}
.order__h{font-size: 14px; margin: 10px 0px;}
.d{display: flex; color: red;}
.payment__d{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.more{margin-top: 10px; padding: 20px;}
@media screen and (max-width:576px) {
  .billing__formWrapper{
        width: 90%;}
    .payment__instruction{
      flex-direction: column;
      padding:5px 25px;
      ;
    }
    .payment__details{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
}