.main__container {
    width: 100%;
    height: auto;
}

.create__product {
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
}



.create__productSidenav {
    flex: .15;
    position: relative;
    height: auto;
}

.create__productcontainer {
    flex: .85;
    height: auto;
    display: flex;
   
background-image: url("../../public/images/bagandshoe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.create__form {
    width: 50%;
    /* background-color: orange; */
}

.create__preview {
    width: 25%;
    /* background-color: green; */
}
.styledform{
display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 2rem;
    margin-left: 100px;
}
 

 .styledform select,
 input {
     padding: 4px;
     min-height: 30px;
     outline: none;
     border-radius: 5px;
     border: 1px solid rgb(182, 182, 182);
     margin: 0.3rem 0;

     &:focus {
         border: 2px solid rgb(0, 208, 255);
     }
 }

 .styledform select {
     color: rgb(95, 95, 95);
 }
 .close {
     display: none;
     margin-top: 5px;
     align-items: center;
     background-color: transparent;
     border-radius: 10px;
     padding:5px 7px;
 }
@media screen and (max-width:576px) {
    .close{
        display: flex;
    }
    .create__product {
        display: flex;
        flex-direction: column;
        /* background-color: red !important; */
    }

    .create__productcontainer {
        display: flex;
        flex-direction: column;
    }
    .create__form{
        width: 100%;
    }
    .create__preview{
        width: 100%;
    }
    .styledform{margin:0px auto;}
    .create__productSidenav{
        position:absolute;
        z-index: 999;
        opacity: 0.9;
    }
}